<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>833237221269-533u9j4mbt7ufpmmjchpigqmk9k0naqk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.833237221269-533u9j4mbt7ufpmmjchpigqmk9k0naqk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>833237221269-ja1l2untp72kl0sr5r9b2lp3sniqnjq6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBV3NJRHRxtRQIJJPop1RcHdCZk9I31r1A</string>
	<key>GCM_SENDER_ID</key>
	<string>833237221269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.credicxo.shotlocker</string>
	<key>PROJECT_ID</key>
	<string>shot-locker-f9de3</string>
	<key>STORAGE_BUCKET</key>
	<string>shot-locker-f9de3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833237221269:ios:b0659522a7a33a173e809c</string>
</dict>
</plist>